body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    height: 160px;
    display: grid;
    place-items: center;
}

h1 {
    height: 80px;
}

#titulo {
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin: 0px;
}

canvas {
    background-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#baseplacar {
    background-color: white;
}

.table {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

.placar {
    padding: 0px;
    display: grid;
    place-items: center;
    width: 600px;
}

.placarplayer {
    list-style-type: none;
}



#divmenu {
    display: grid;
    place-content: center;
}

#menugame {

    margin-left: auto;
    margin-right: auto;
    height: 70px;
    
}

.botao {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    margin-inline: 50px;
    
  }